.app__container {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  border: 1px solid #bebbbb;
  border-radius: 8px;
  padding: 8px;
}

.app__contactContainer {
  border: 1px solid #bebbbb;
  border-radius: 8px;
  padding: 8px;
}

.app__header {
  margin: 0 0 16px 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
